@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.largura-maxima {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section {
    padding: 100px 0;
}

/* seção menu */
.navbar {
    position: fixed;
    width: 100vw;
    z-index: 999; /* não permite que nada sobreescreva essa div do menu */
    padding: 15px 0;
    transition: all 0.3s ease;
}

.navbar .largura-maxima {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    background-color: #00ced1;
    padding: 15px 0;
}

.logo a {
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

.logo span {
    color:  #00ced1;
}

 .menu {
    display: flex;
    margin-left: 280px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 550;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu li a:hover{
    color: #00ced1;
}
/* fim da seção menu */

/* seção início */
.inicio {
    display: flex;
    background: url(./img/Fundo.png);
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

.inicio .largura-maxima {
    margin: auto 0 auto 40px;
}

.conteudo-inicio {
    color: #ffffff;
}

.conteudo-inicio .texto1 {
    font-size: 27px;
}

.conteudo-inicio .texto2 {
    font-size: 75px;
    font-weight: 600;
    margin-right: -3px;
}

.conteudo-inicio .texto3 {
    font-size: 40px;
    margin: 5px 0;
}

.typing {
    color: #00ced1;
    font-weight: 500;
}

.conteudo-inicio a {
    display: inline-block;
    background-color: #00ced1;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    padding: 12px 36px;
    margin-top: 20px;
    border: 2px solid #00ced1;
    border-radius: 8px;
    outline: none;
    text-decoration: none;
}

.conteudo-inicio a:hover {
    background: url(./img/Fundo.png);
    color: #00ced1;
}
/* fim da seção início */

/* seção sobre */
.titulo-sobre {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

/* cria o traço para ficar no meu do conteúdo */
.titulo-sobre::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: #111;
    transform: translateX(-50%);
}

.sobre .titulo-sobre::after {
    content: "Quem sou eu";
}

/* formata o texto quem sou eu */
.titulo-sobre::after { 
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background-color: #fff;
    color: #00ced1;
    padding: 5px;
    transform: translateX(-50%);
}

.conteudo-sobre .coluna-esquerda {
    width: 45%;
    box-shadow: solid #111 10px;

}

.coluna-esquerda img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.coluna-direita{

}
/* fim da seção sobre */