@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
}

/* seção menu */
.navbar {
    display: flex;
    position: fixed;
    background-color: #0abab5;
    width: 100vw;
    z-index: 999; /* não permite que nada sobreescreva essa div do menu */
    padding: 30px 0;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.logo {

}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.logo span {

}

 .menu {
    display: flex;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu li a:hover{
    color: black;
}
/* fim da seção menu */

/* seção início */
.inicio {
    background: url(./img/Fundo.png);
    display: flex;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

.largura-maxima {
    max-width: auto 0 auto 40px;
}

.conteudo-inicio {
    z-index: 999;
    margin: 4rem;
    color: #ffffff;
}

.conteudo-inicio .texto1 {
    font-size: 27px;
    margin-top: 200px;
    
}

.conteudo-inicio .texto2 {
    font-size: 75px;
    font-weight: 500;

}

.conteudo-inicio .texto3 {
    font-size: 27px;

}

.conteudo-inicio .btn {
    background-color: ;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    padding: 12px 36px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.conteudo-inicio .btn a {
    text-decoration: none;
}

.conteudo-inicio .btn a:hover {
    background-color: ;
    color: ;
}
/* fim da seção início */